@import 'tailwindcss';
@import 'flag-icons/css/flag-icons.min.css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes wave-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave {
  animation: wave-scroll 8s linear infinite;
  width: 200%;
}

@media (max-width: 768px) {
  .animate-wave {
    width: 400%;
  }
}

/* Скрываем скроллбар для всех браузеров */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

/* Для Chrome, Safari и Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
