@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes wave-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave {
  animation: wave-scroll 8s linear infinite;
  width: 200%;
}

@media (max-width: 768px) {
  .animate-wave {
    width: 400%;
  }
}
